<!doctype html>
<html>

<head>
    <title>Meadowlark Travel</title>
</head>

<body>
    <header><img src="/img/logo.svg" style="height:50px;width:50px" alt="Foodies Logo"></header>
    {{{body}}}
</body>

</html>